[build]
target = "i386-unknown-none.json"  # Relative path to the JSON file

[target.i386-unknown-none]
linker = "clang-16"
rustflags = ["-C", "link-arg=-m32", "-C", "link-arg=-nostdlib", "-C", "link-arg=-Tlinker.ld"]

[rustflags]
flags = ["-C", "link-arg=-nostartfiles", "--target=i386-unknown-none", "-C", "link-arg=-Tlinker.ld"]


#[rustflags]
#flags = ["-C", "link-arg=-nostartfiles", "-C", "link-arg=-Tlinker.ld"]
